* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.titulares {
  background-color: #222;
  color: #fff;
  padding: 1rem;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu ul {
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  color: #fff;
}

main {
  /* Indicamos que nuestro main ocupe todo el espacio de nuetra página */
  flex-grow: 1;
}
.hero-image{
    min-height: 100vh;
    background-image: url("https://placeimg.com/1920/1080/animals");
    background-repeat: no-repeat;
    color: #fff;
}
.hero-image div{
    min-height: inherit;
    background-color: rgba(0 0 0 /.75);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}
.hero-image h1{
    font-size: 4rem;
}

/* ----------------------------- */
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu ul {
    display: flex;
  }
  .menu li {
    padding: 15px 3rem;
  }
}
