* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Lo que queremos es que nuestro main ocupe todo el espacio sobrante */
main {
  flex-grow: 1;
}

.titulares {
  padding: 1rem;

  background-color: #222;
  color: #fff;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu ul {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
}
.hero-image {
  min-height: 100vh;
  /* Sitio web que nos permite obtener una imagen random */
  background-image: url("https://placeimg.com/1920/1080/animals");

  /* Para que nuestra imagen de fondo no se repita */
  background-repeat: no-repeat;
  color: #fff;
}
.hero-image div {
  min-height: inherit;
  background-color: rgba(0 0 0/0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-image h1 {
  font-size: 4vw;
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu ul {
    display: flex;
  }
  .menu li {
    padding: 0.5rem;
  }
}
