/* ¿ Como Funciona CSS?
    Especificidad -> Establece cómo de específico es un selector para saber qué estilo aplicar. 
    El calculo se realiza con la siguiente fórmula o valores:
    -
    Cascada ->Funciona simpre que la especifidad sobre el elemento sea la mism
    Herencia
*/

/* Cada elemento tiene un valor, por lo que el que tenga mayor valor se le aplicara el estilo:
-Etiquetas y pseudoelementos= 001
-Clases, atributos y pseudoclases= 010
-Ids=100
-Estilos en linea==1000
!importan gana a todos pero nunca se debe utilizar
*/
/* h1.title#title {
  background-color: red;
}
h1 {
  background-color: aqua;
}

.title {
  background-color: aquamarine;
}

#title {
  background-color: blue;
}
h1.title {
  background-color: blueviolet;
}
h1#title {
  background-color: cornflowerblue;
} */

/* !importan: Esta etiqueta nunca se utiliza, nunca */
/* .title{
    background-color: green !important;
} */

/* ¿Como evito que suceda lo anterior, esta claro, siempre debemos utilizar clases? */


/* Herencia -> Es la capacidad que tienen algunos elementos de hehredar algunas propiedades de sus elementos contenedores (padres,abuelos, etc)*/

.title{
  background-color:greenyellow;
  color: black;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.text{
  /* Los enlaces no heredan propiedades de su padre */
  color: green;
}
.link{
  /* Para trabajar con la herencia y forzar para que una etiqueta herede las propiedades de la etiqueta padre usamos:  inherit*/
  color:inherit;
}


.list{
  color: blue;
}

/* ¿Que sucede si no quiero que alguna de las etiquetas hijas herede los estilos etc de la etiqueta padre? Utilizamos la palabra "initial"*/
.link-item-extra{
  color: initial;  
}