/*margin: Para separar elementos que lo rodean
Los 4 lados posibles a los que podemos dar un margen son:
1.-margin-top: margen superior
2.-margin-rifht: margen derecho
3.-margin-bottom: margen superior
4.-margin-left: margen izquierdo

Admite hasta 4 valores que van en el orden de las 
agujas del reloj
4 valores -> margin: top right bottom left
3 valores -> margin: top left/right bottom
2 valores -> margin: top/bottom  right/left
1 valor -> margin: top/bottom/left/right
*/

/* Padding: Aumentar el tamaño de la caja
    Es la propiedad que nos permite generar espacio interno entre el bordde y la caja. Es un shorthans (propiedad abreviada) que controla los 4 lados posibles a los que dar padding.
    padding-top: padding superior
    padding-rigth: padding derecho
    padding-bottom: padding inferior
    padding-left: pading izquierdo

    Admite hasta 4 valores que van en el orden de las agujas del reloj
    4 valores -> padding: top right bottom left
    3 valores -> padding: top left/riht bottom
    2 valores -> padding: top/bottom left/right 
    1 valor -> padding: top/right/bottom/left
    */

/* border: Es la propiedad que nos permite modificar el borde de la caja
    Es un shorthand (propiedad abreviada) que agrupa
    3 Propiedades
      border-width: ancho del borde
        border-top-width
        border-right-width
        border-bottom-width
        border-left-width
      border-style: estilo del borde
      border-top-style
        border-right-style
        border-bottom-style
        border-left-style
--Valores Style
  none
  hidden
  dotted
  dashed
  solid
  double 
  groove
  ridge
  inset
  outset

      border-color: color del borde
      border-top-color
        border-right-color
        border-bottom-color
        border-left-color
    
    */

    /* Box - sizing:Es la propieda que nos permite controlar el calculo que hace el navegador a la hora de modificar las propiedades content, padding y border
      content-box->Valor por defecto
      border-box->Cálculo de tamaño del elemento
      incluyendo el padding y el border

     */
     /* Siempre que iniciemos un proyecto debemos agregar lo siguiente */
     *{
box-sizing: border-box;
     }

body {
  background-color: aquamarine;
  color: black;
  /* Si es recomendable hacer esto*/
  margin: 0;
}
.header {
  background-color: lightgoldenrodyellow;
  height: 50px;
}

.block {
  background-color: lightcoral;
  /* A los elementos de bloque solamente se le puede asignar un ancho y un alto: esto determina el espacio de trabajo */
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-sizing: border-box;
  /* margin: 100px 40px 150px 200px; */
  /* Cuando queremos mover la horientación de nuestro bloque podemos hacer lo siguiente
     */
  /*Para centrar una caja 
    margin-left: auto;
    margin-right: auto; */

  /* margin-left : auto; */

  /* Padding es para hacer mas grande nuestro espacio de contenido*/
  padding-bottom: 100px;
}
.title {
  /* !important: Si queremos usar el valor auto: es necesario primero especificar el ancho y alto de nuestro bloque */
  margin-left: auto;
  background-color: lightskyblue;
}
.inline {
  /* A nuestros elementos de línea no podemos asignarle un ancho y alto, este elemento toma el tamaño segun el    */
  background-color: lightsalmon;
  color: inherit;
  /* En los elementos de linea solo podemos hacer uso de margin-left y margin-right */

  /* Padding en este caso si podemos usar los ambos lados */
  margin-right: 100px;

  /*Padding en este caso si podemos aplicar top y bottom a diferencia del bottom */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
}

.buttons {
  background-color: lightpink;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}
.button {
  margin-left: 400px;
  padding: 50px 50px;
  border: 20px solid red;
  border-left-color: blue;
  border-left-width: 15px;
  border-left-style: groove;
  border-right-color: chartreuse;
  border-right-width: 15px;
  border-right-style: double;
  border-top-style: ridge;
  border-bottom-style: dotted;
}

/* Malas practicas*/
/* 
    margin: 0;
    padding: 0;
} */
